Source: vste
Section: editors
Priority: optional
Maintainer: Christiaan Bekker <stianbekker@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/stikie123/vste
Rules-Requires-Root: no

Package: vste
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Very Simple Text Editor (vste)
 A terminal-based minimalist text editor written in C.
 Designed to be lightweight, fast, and easy to use.
